:root{
    --primary-color: #3c40c6;
    --primary-border_color: #3c41c66b;
}

*{
    box-sizing: border-box;
}

.cursor-pointer{
    cursor: pointer;
}

.bg_primary{
    background-color: var(--primary-color);
}

.text_primary{
    color: var(--primary-color);
}


/* body{

} */